<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cats` world</title>

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <header class="header">
      <nav
        data-hx-get="global.header-nav.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></nav>
    </header>
    <main>
      <section
        data-hx-get="index.hero.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>

      <section
        data-hx-get="index.reasons.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>

      <section
        data-hx-get="index.breeds-carousel.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>

      <section
        data-hx-get="index.care.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>

      <section
        data-hx-get="index.food.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>

      <section
        data-hx-get="index.blog.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>

      <section
        data-hx-get="index.contacts.partial.html"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
      ></section>
    </main>
    <script src="js/index.header-nav.js"></script>
    <script src="js/index.breeds-carousel.js"></script>
  </body>
</html>
